<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="/drive/logs"/>
    <appender name="Console"
            class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d %p %C{1.} [%t] %m%n
            </Pattern>
        </layout>
    </appender>
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
    <logger name="pl.mg" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
</configuration>